<html lang="en">
    <head>
        {{>headLinks}}
    </head>
    <body>
        {{>navbar}}

        {{!--** main header --}}
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        {{!--** left side div --}}
                        <div
                            class="col-md-12 col-12 main-header-left align-items-center"
                        >
                            <figure>
                                <img
                                    src="images/404.svg"
                                    alt="Page not found"
                                    class="img-fluid error404"
                                    title="Error 404"
                                />
                            </figure>
                            <p>Welcome to this Weather App</p>
                            <h1>
                                {{errorMsg}}
                            </h1>
                            <a href="/">
                                <button>Go Back</button>
                            </a>
                        </div>
                        {{!--** right side div --}}
                    </div>
                </div>
            </div>
        </div>

        {{!--** footer --}}
        {{>footer}}

        {{!--** Bootstrap --}}
        {{>bootStrap}}
    </body>
</html>